/* ボタン全体 */
.flowbtn6{
  border-radius:13px;		
  position:relative;
  display:inline-block;
  width:50px;
  height:50px;
  font-size:33px;
  color:#fff!important;
  transition:.5s;
  text-decoration:none;
}	
/* アイコンをど真ん中に*/
.flowbtn6 i{
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}
/* ulタグの内側余白を０にする */
ul.snsbtniti{
  padding:0!important;
}
/* アイコンボタン全体の位置 */
.snsbtniti{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
}
/* アイコンボタン同士の余白 */
.snsbtniti li{
  flex:0 0 33%;
  text-align:center!important;
}
/* アイコンボタンにマウスを乗せた時 */
.flowbtn6:hover{
  -webkit-transform:translateY(-5px);
  -ms-transform:translateY(-5px);
  transform:translateY(-5px);
}
/* Twitter */
.fl_tw1{
  background:#55acee;
}
/* Instagramアイコン位置 */
.insta_btn6 .fa-instagram{
  font-size:40px;
}
/* Instagram紫グラデ背景 */
.insta_btn6 {
  background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow:hidden;	
}
/* Instagramオレンジグラデ背景 */
.insta_btn6:before{
  content: '';
  position: absolute;
  top:27px;
  left:-12px;
  width:59px;
  height:40px;
  background:-webkit-radial-gradient(#ffdb2c 7%, rgba(255, 105, 34, 0.3) 60%, rgba(255, 88, 96, 0) 70%);
  background:radial-gradient(#ffdb2c 7%, rgba(255, 105, 34, 0.3) 60%, rgba(255, 88, 96, 0) 70%);
}