a {
  text-decoration: none;
}

.main {
  background: white;
}

.call-title {
  font-size: 4vh;
  margin-left: 50px;
  
}

.login-user-title {
  font-size: 3vh;
  margin-top: 30px;
  margin-left: 50px;
  
}

.user-wrapper {
  
  height: 40vh;
  width: 20%;
  margin-left: 50px;
}

.user-body {
  margin-bottom: 40px;
}

.user_image {
  margin-bottom: 16px;
}
.header_comment {
  font-size: 20px;
  margin-bottom: 8px;
}

.user_name {
  font-size: 20px;
  color: gray;
  
}
.high-rate-user-title {
  font-size: 3vh;
  margin-top: 30px;
  margin-left: 50px;
}